<form action="/submit_entry" method="post">
<input type='text' name='title' placeholder='Enter your diary title'><br><br>
<textarea name="entry" cols="50" rows="10"></textarea><br><br>
<input type='submit' value='Submit entry'>
</form>
